{
  "database": {
   "mongodb": {
    "host": "localhost",
    "port": 27017,
    "name": "astrum",
    "username": "astrum",
    "password": "astrum"
   },
   "redis": {
     
   }
  },
  "server": {
    "port": 8000
  },
  "collection": {
    "page-size": 5,
    "sort": {
      "createdAt": -1
    }
  }
}